/vendor
/node_modules
/public/storage
/.idea
Homestead.yaml
Homestead.json
.env
.DS_Store
/public/assets
/public/themes
/storage/debugbar
/storage/app
/public/uploads
/public/build
/resources/views/vendor
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.php_cs.cache